:root {
  --main-bg-color: rgb(224, 224, 224);
  --sec-bg-color: rgb(223, 223, 223);
  --bug-color-1: #ff8c9b;
  --bug-color-2: #006972;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.main-header {
  background-color: var(--main-bg-color);

  padding: 1.5rem;
  text-align: center;
}

.header-name {
  display: inline;
  font-size: 5rem;

  border-bottom: 1px solid black;
  font-family: 'Booter - Zero Zero';
  text-shadow: 1px 1px 0px #999999, 1px 1.5px 0px #999999, 1px 2px 0px #999999,
    1px 2.5px 0px #999999, 1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 12px 10px rgba(16, 16, 16, 0.4), 1px 14px 15px rgba(16, 16, 16, 0.3),
    1px 16px 20px rgba(16, 16, 16, 0.2);

}

#welcome-container {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  padding-top: 1em;
}

.content-container {
  padding: 0 1.5em 0.5rem 1.5em;
  margin: 0 auto;
  max-width: 900px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin: 0.5rem;
  box-shadow: 0;
  padding: 0.2rem 0.5rem;
}

.logout-button {
  display: none;
  cursor: pointer;
}

#logout-button-container {
  text-decoration: none;
}

.bug-form {
  max-width: 20rem;
  margin: 0 auto;
}

.form-fieldset {
  padding: 1em;
  padding-bottom: 0;
  border: none;
}

.form-fieldset > legend {
  border-radius: 5px;
}

.form-content-container {
  border: 1px black solid;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--main-bg-color);
  display: none;
}

.form-content {
  padding: 0.5rem;
  align-self: flex-start;
}
.form-content > input,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.desc-input {
  resize: vertical;
}
.required {
  color: red;
}
.btn-form-submit {
  background-color: var(--bug-color-2);
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: bolder;
}

.bug-list {
  padding-left: 0;
  padding-top: 1rem;
  margin: 0;
}

.bug-list-btn {
  cursor: pointer;
}

.bug-item {
  list-style: none;
  margin: 0.5rem auto;
  padding: 0.5rem;
  padding-top: 0;
  border: 1px lightgray solid;
  border-radius: 3px;
  background-color: var(--main-bg-color);
  max-width: 18rem;
  overflow-wrap: break-word;
}

.bug-item h6,
h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.bug-item p {
  font-size: 0.7rem;
  margin-top: 0;
}

.bug-item .label-info {
  padding: 0 0.3rem 0.1rem 0.3rem;
  border-radius: 3px;
  font-weight: bolder;
  color: white;
}

.label[data-status='Open'] {
  background-color: #04aa6d;
}

.label[data-status='Closed'] {
  background-color: #f44336;
}

.label-info .details {
  display: flex;
  place-items: start;
}

.icon {
  max-width: 1rem;
  max-height: 1rem;
  margin-right: 0.5rem;
}

.btn-close,
.btn-delete {
  text-decoration: none;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  border: none;
}
.btn-close {
  background-color: orange;
}
.btn-delete {
  background-color: #f44336;
}

.login-modal {
  margin: 10% auto;
  border: 1px solid gray;
}

.modal-login-form {
  margin: 1.5rem auto;
  width: 100%;
}

.modal-login-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.modal-btn-container {
  margin: 8px auto;
  padding: 0.5rem 0;
  text-align: center;
}
.modal-cancel-btn-container {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.modal-btn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
}

.modal-btn:hover,
.cancel-btn:hover {
  opacity: 0.8;
}

.close-modal {
  position: absolute;
  right: 0.6rem;
  top: 0;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: red;
}

.login-modal::backdrop {
  background: black;
  opacity: 0.4;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

footer {
  position: fixed;
  font-size: 0.7rem;
  bottom: 0;
  right: 0;
}
footer p {
  margin: 0;
  margin-bottom: 1;
}
footer img {
  max-width: 10px;
  max-height: 10px;
}

@media screen and (min-width: 32em) {
  .bug-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    place-items: center;
  }
}

@media screen and (max-width: 850px) {
  .modal-btn-container button {
    width: 100%;
  }
}
